<div class="grid_24 box">
	<div class="mapoverlay">
		<div>
			<h1>{{event.title}}</h1>
			<p class="smalltext">{{event.date}}. Counts as 1 {{event.event_type}}.</p>
			<p>{{event.description}}</p>
		</div>
	</div>
	<div data-ng-bind-html-unsafe="renderMap(event.location)"></div>
</div>
<div class="clear"></div>

<div class="grid_24 box">
	<img ng-src="{{event.speaker_imgurl}}" style="float: left; width: 200px; margin: 15px 15px 5px;" alt="{{event.speaker_name}}" />
	<h2>{{event.speaker_name}}</h2>
	<p>{{event.speaker_bio}}</p>
</div>

<div class="clear"></div>