# Workspace-specific
*sublime-project
*sublime-workspace
.zedstate
assets/img/honorshours
assets/json
nbproject
desktop.ini
uploads/

#Config variables
config.php
mHconfig.php

# AngularJS
application/config.js

#Auth
auth/auth.php

# DevOps
devops/*

# Server logs
logs/
access.log
error.log