# Workspace-specific
*sublime-project
*sublime-workspace
web_root/img/honorshours
web_root/json

# Code Igniter
application/cache/*
application/cache/!index.html
application/config/config.php
application/config/database.php
application/logs/*.php
application/logs/!index.html