# Workspace-specific
*sublime-project
*sublime-workspace
assets/img/honorshours
assets/json

# AngularJS
assets/js/config.js

# Code Igniter
application/cache/*
application/cache/!index.html
application/config/config.php
application/config/database.php
application/config/tank_auth.php
application/logs/*.php
application/logs/!index.html
captcha/*.jpg