# This removes the index.php from CodeIgniter URLs
# http://ellislab.com/codeigniter/user-guide/general/urls.html

RewriteEngine on
RewriteCond $1 !^(index\.php|assets|captcha|robots.txt)
RewriteRule ^(.*)$ ./index.php/$1 [L]
