<div class="row-fluid">
	<div ng-class="{span9: profile.auth.isArchMod, span12: !profile.auth.isArchMod}">
		<div class="box">
			<div class="box-header">Your ARCH Projects</div>
			<div class="box-content">
				<ul ng-show="projects.length" class="unstyled block-hover block-clickable">
					<li ng-repeat="project in projects | filter:searchText" ng-click="goToProject(project.$id)" style="padding: 20px">
						{{project.name}}
						<span ng-show="!project.contract.signedByStudent" class="label label-warning" style="margin-left: 10px">Pending Student Signature</span>
						<span ng-show="project.contract.signedByStudent" class="label label-success" style="margin-left: 10px">Signed By Student</span>
						<span ng-show="!project.contract.signedByAdvisor" class="label label-warning" style="margin-left: 10px">Pending Advisor Signature</span>
						<span ng-show="project.contract.signedByAdvisor" class="label label-success" style="margin-left: 10px">Signed By Advisor</span>
					</li>
				</ul>
				<div class="padded" ng-show="!(projects | filter:searchText).length">
					<div class="alert alert-info">
						None
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="span3" ng-show="profile.auth.isArchMod">
		<div class="box">
			<div class="box-header">ARCH Administration Panel</div>
			<div class="box-content padded">
				<input id="search" type="text" ng-model="searchText" placeholder="Search for..." />
				<span class="help-block">You can search by PID, name, major, email address, etc.</span>
				<hr>
				<button class="btn btn-primary input-block-level">Add New Project</button>
			</div>
		</div>
	</div>
</div>