<div class="row-fluid">
	<div ng-class="{span9: profile.auth.isArchMod, span12: !profile.auth.isArchMod}">
		<div class="box">
			<div class="box-header">Your ARCH Projects</div>
			<div class="box-content">
				<table class="table table-hover" style="margin-bottom: 0px">
					<thead>
						<tr>
							<th>Student Name</th>
							<th>Student PID</th>
							<th>Mentor Name</th>
							<th>Mentor PID</th>
							<th>Project Progress</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projects | filter:searchText" ng-click="goToProject(project.$id)" class="clickable">
							<td>{{project.student.fname}} {{project.student.lname}}</td>
							<td>{{project.student.pid}}</td>
							<td>{{project.advisor.fname}} {{project.advisor.lname}}</td>
							<td>{{project.advisor.pid}}</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<div class="padded" ng-show="!(projects | filter:searchText).length">
					<div class="alert alert-info">
						None
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="span3" ng-show="profile.auth.isArchMod">
		<div class="box">
			<div class="box-header">ARCH Administration Panel</div>
			<div class="box-content padded">
				<input id="search" type="text" ng-model="searchText" placeholder="Search for..." />
				<span class="help-block">You can search by PID, name, major, email address, etc.</span>
				<hr>
				<button class="btn btn-primary input-block-level">Add New Project</button>
			</div>
		</div>
	</div>
</div>