<div class="span6">
	<div class="box">
		<div class="box-header">Your Current Course</div>
		<div class="box-content padded">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in molestie velit. Duis at dui mi, eget aliquet mauris. Proin eget purus nec leo dapibus aliquet. Praesent imperdiet, sapien eu laoreet ornare, nisl urna tincidunt orci, at ornare tortor nunc et lorem. Etiam sodales, diam ac malesuada condimentum, lacus nunc lobortis sapien, pretium ultricies urna lacus in tellus. Phasellus ipsum leo, volutpat id ornare in, luctus quis erat. Aenean consectetur vulputate massa, non congue arcu gravida a. Cras vehicula est vitae massa dignissim quis dapibus leo consequat. Proin nec nisi a est gravida venenatis nec id neque. Ut id purus id risus mollis ullamcorper ut at sapien. Donec urna lacus, vehicula eget hendrerit sed, mattis condimentum lorem. Morbi malesuada, libero in feugiat pretium, dolor odio consectetur purus, at laoreet tortor arcu eget nisi. Aenean non est in dui tincidunt commodo. Nullam consectetur magna a turpis faucibus tempus at ut dui.</p>
		</div>
	</div>
</div>

<div class="span2" ng-controller="CitizenshipCtrl">
	<div class="box">
		<div class="box-header">Honors Hours</div>
		<div class="box-content padded clearfix">
			<canvas class="pull-left" width="60" height="60" doughnut-chart="eventTally.honorshour,3"></canvas>
			<div class="pull-right"><h2>{{eventTally.honorshour}}/3</h2></div>
		</div>
	</div>
</div>
<div class="span2" ng-controller="CitizenshipCtrl">
	<div class="box">
		<div class="box-header">Colloquia</div>
		<div class="box-content padded clearfix">
			<canvas class="pull-left" width="60" height="60" doughnut-chart="eventTally.colloquia,1"></canvas>
			<div class="pull-right"><h2>{{eventTally.colloquia}}/1</h2></div>
		</div>
	</div>
</div>
<div class="span2" ng-controller="CitizenshipCtrl">
	<div class="box">
		<div class="box-header">Excellence Lectures</div>
		<div class="box-content padded clearfix">
			<canvas class="pull-left" width="60" height="60" doughnut-chart="eventTally.excellence,1"></canvas>
			<div class="pull-right"><h2>{{eventTally.excellence}}/1</h2></div>
		</div>
	</div>
</div>
<div class="span6" ng-controller="EventBrowseCtrl">
	<div class="box">
		<div class="box-header">Upcoming Events</div>
		<div class="box-content">
			<ul class="block-hover block-clickable">
				<li ng-repeat="event in events" ng-click="goToEvent(event.$id)" class="clearfix">
					<img class="pull-left span2 img-rounded" ng-src="{{event.thumbURL}}">
					<div class="pull-left span8">
						<strong>{{event.name}}</strong> <span>on May 24th at 3:30pm</span>
						<span class="muted event-subtitle">COUNTS AS ONE {{event.type}}</span>
						<p class="event-short-desc">{{event.desc}} <a href="#">show more</a></p>
					</div>
					<div class="span2 text-center event-attending">
						<h3>{{event.rsvps}}</h3>
						<span class="opensans">ATTENDING</span>
						<button class="btn btn-mini" ng-click="rsvp.addRSVP(event.$id)" ng-show="!rsvp.hasRSVP(event.$id)">I'm Going</button>
						<button class="btn btn-mini btn-primary" ng-click="rsvp.removeRSVP(event.$id)" ng-show="rsvp.hasRSVP(event.$id)">I'm Going</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>