<div class="grid_6 events-tidbit" data-ng-repeat="event in events | filter:searchText">
	<div class="content">
		<div class="image">
			<img ng-src="assets/img/honorshours/{{event.eid}}.jpg" />
			<a href="#/events/{{event.eid}}" class="text">
				<span class="event-title">{{event.name}}</span>
				<span style="color: #444">{{event.begins*1000 | date:"MMMM d"}} from {{event.begins*1000 | date:"h:mma"}} to {{event.ends*1000 | date:"h:mma"}}. Counts as 1 <strong>{{event.type}}</strong>.</span>
			</a>
		</div>
		<div class="inside-footer"><span style="float: left">{{event.type}}</span><span style="float: right">{{event.begins*1000 | date:"M/d/yy"}}</div>
	</div>
	<div class="outside-footer"></div>
</div>
<div class="clear"></div>