<div class="row-fluid">
	<div class="span12 well well-small" style="position: relative">
		<div id="map_canvas" style="height: 250px"></div>
		<div class="mapoverlay">
			<div>
				<h1>{{event.name}}</h1>
				<p class="smalltext">{{event.begins*1000 | date:"EEEE, MMMM d 'at' h:mma"}} in {{event.location_name}}. Counts as 1 {{event.type}}.</p>
				<p>{{event.description}}</p>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span9 well">
		<img ng-src="assets/img/honorshours/{{event.eid}}.jpg" alt="{{event.speaker}}" />
		<h2>{{event.speaker}}</h2>
		<p>{{event.speaker_bio}}</p>
	</div>
	<div class="span3 well">
	</div>
</div>