<div class="grid_24 box">
	<div class="mapoverlay">
		<div>
			<h1>{{event.name}}</h1>
			<p class="smalltext">{{event.begins*1000 | date:"EEEE, MMMM d 'at' h:mma"}}. Counts as 1 {{event.type}}.</p>
			<p>{{event.description}}</p>
		</div>
	</div>
	<div data-ng-bind-html-unsafe="renderMap(event.location)"></div>
</div>
<div class="clear"></div>

<div class="grid_24 box">
	<img ng-src="assets/img/honorshours/{{event.eid}}.jpg" style="float: left; width: 208px; margin: 15px 15px 5px;" alt="{{event.speaker}}" />
	<h2>{{event.speaker}}</h2>
	<p>{{event.speaker_bio}}</p>
</div>

<div class="clear"></div>