<div class="span8 offset2" style="margin-top: 100px">

	<div class="row-fluid">
		<div class="span7" img-rotate>
			<img src="http://placehold.it/414&text=Image+1" class="img-polaroid img-rounded" />
			<img src="http://placehold.it/414&text=Image+2" class="img-polaroid img-rounded" />
			<img src="http://placehold.it/414&text=Image+3" class="img-polaroid img-rounded" />
		</div>

		<div class="span5" style="margin-top: 60px; position: relative;">
			<div class="btn-primary login-header">
				<strong>Login to FIU MyHonors</strong>
			</div>
			<div class="well well-large" style="padding-top: 70px">
				<form>

				<label for="pid">Panther ID</label>
				<input type="text" id="pid" name="pid" placeholder="Example 1234567" />

				<label for="password">MyAccounts Password</label>
				<input type="password" id="password" name="password" />

				<br /><br />
				<button type="submit" class="btn btn-primary" >Login</button> <a class="btn btn-link" href="auth/forgot_password/">Forgot Password?</a>

				</form>
			</div>

			<div class="pagination-centered">
				<p>Not a member? <a href="auth/register">Sign up now</a></p>
			</div>

		</div>
	</div>

</div>