<div class="span8 offset2" style="margin-top: 100px">

	<div class="row-fluid">
		<div class="span7" img-rotate>
			<img src="http://placehold.it/414&text=Image+1" class="img-polaroid img-rounded" />
			<img src="http://placehold.it/414&text=Image+2" class="img-polaroid img-rounded" />
			<img src="http://placehold.it/414&text=Image+3" class="img-polaroid img-rounded" />
		</div>

		<div class="span5" style="margin-top: 60px; position: relative;">
			<div class="btn-primary login-header" data-ng-switch="currentPage">
				<strong ng-switch-when="loginPage">Login to FIU MyHonors</strong>
				<strong ng-switch-when="forgotPass">Forgot your password?</strong>
			</div>

			<div class="well well-large" style="padding-top: 70px" data-ng-switch="currentPage">
				<div ng-switch-when="loginPage">
					<label for="email">Email Address</label>
					<input type="text" id="email" placeholder="panther@fiu.edu" ng-model="login.email" />

					<label for="password">Password</label>
					<input type="password" id="password" name="password" ng-model="login.password" />

					<button class="btn btn-primary" ng-click="doLogin()">Login</button> <button class="btn btn-link" ng-click="$parent.currentPage = 'forgotPass'">Forgot Password?</button>
				</div>
				<div ng-switch-when="forgotPass">
					<p>To reset your password, please email <a href="mailto:honors@fiu.edu">honors@fiu.edu</a> with your name and Panther ID. We will take you through the reset process from there.</p>
					<button class="btn btn-primary" ng-click="$parent.currentPage = 'loginPage'"><i class="icon-chevron-left icon-white"></i> Go back</button>
				</div>
			</div>

			<div class="pagination-centered">
				<p>Not a member? <a href="/#/signup">Sign up now</a></p>
			</div>

		</div>
	</div>

</div>