<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
			<img ng-src="{{profileData.profile_pic}}" class="pull-right img-polaroid" style="margin-right: 40px" />
			<h1>{{profileData.fname}} {{profileData.lname}}</h1>
			<p><span ng-show="profileData.major">Currently studying {{profileData.major}}</span></p>
			<p>
				<a class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add Friend</a>
				<a class="btn"><i class="icon-pencil"></i> Send Message</a>
			</p>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4 well">
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	</div>
	<div class="span8">
		<div class="row-fluid">
			<div class="span12 well">
				<h4>Recent Activity</h4>
			</div>
		<div class="row-fluid">
			<div class="media well">
				<a class="pull-left" href="#"><img class="media-object" src="http://placekitten.com/64/64"></a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>
			<div class="media well">
				<a class="pull-left" href="#"><img class="media-object" src="http://placekitten.com/64/64"></a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>
			<div class="media well">
				<a class="pull-left" href="#"><img class="media-object" src="http://placekitten.com/64/64"></a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>
			<div class="media well">
				<a class="pull-left" href="#"><img class="media-object" src="http://placekitten.com/64/64"></a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>
			<div class="media well">
				<a class="pull-left" href="#"><img class="media-object" src="http://placekitten.com/64/64"></a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>
		</div>
		<div class="row-fluid span12" style="height: 50px">&nbsp;</div>
	</div>
</div>