<div class="row-fluid">
	<div class="span12 box padded-small" style="position: relative">
		<leaflet center="center" markers="markers" defaults="defaults" height="150px"></leaflet>
		<div class="mapoverlay">
			<div>
				<h1 style="margin-bottom: 0">{{event.name | truncate:25}}</h1>
				<p class="smalltext">{{event.date.starts | date:"EEEE, MMMM d 'at' h:mma"}}. {{event.location.name}}</p>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span3">
		<div class="box">
			<div class="box-header">Event Details</div>
			<div class="box-content padded">
				<div class=""><strong>{{event.name}}</strong></div>
				<hr style="margin-top: 10px; margin-bottom: 10px" />
				<p>
					{{event.desc | truncate: truncateDesc}}
					<a class="clickable" ng-show="event.desc.length >= truncateDesc && truncateDesc !== 0" ng-click="truncateDesc = 0">read more</a>
					<a class="clickable" ng-show="truncateDesc === 0" ng-click="truncateDesc = 200">read less</a>
				</p>
				<hr style="margin-top: 10px; margin-bottom: 10px" />
				<p>
					<strong>Date: </strong> {{event.date.starts | date:"EEE, MMMM d 'at' h:mm a"}}<br />
					<strong>Location: </strong> {{event.location.name}}
				</p>
				<hr style="margin-top: 10px; margin-bottom: 10px" ng-show="user.auth.isEventMod" />
				<div class="row-fluid" ng-show="user.auth.isEventMod">
					<a href="#/events/{{event.id}}/swipe" class="btn span4">Swipe</a>
					<a href="#/events/{{event.id}}/edit" class="btn span4">Edit</a>
					<button class="btn span4" ng-click="confirmDelete()">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="media padded">
				<a class="pull-left" href="#"><img class="media-object img-rounded" src="http://placehold.it/48" /></a>
				<div class="media-body">
					<form class="form-inline" style="margin: 0" ng-submit="addComment()">
						<input type="text" ng-model="userComment" class="input-block-level" style="height: 48px; padding: 0px 10px" placeholder="Leave a comment..." />
					</form>
				</div>
			</div>
			<div class="padded-small text-center" style="position: relative">
				<div style="height: 2px; width: 100%; background-color: #00baff; position: absolute; top: 15px; left: 0px"></div>
				<span style="padding: 0 10px; background-color: white; position: relative; z-index: 10">
					{{comments.length}} comments. Sorted by
					<div class="dropdown text-left" style="display: inline-block">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{sortComments.getCurrent()}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="sortComments.current = 'kudos'">Best</a></li>
							<li><a ng-click="sortComments.current = '-date'">Newest First</a></li>
							<li><a ng-click="sortComments.current = 'date'">Oldest First</a></li>
						</ul>
					</div>
				</span>
			</div>
			<div class="padded">
				<div ng-show="!comments.length" class="alert alert-info padded-medium" style="margin-bottom: 0">
					<strong>Be the first to comment!</strong> Tell us what you think.
				</div>
				<div class="media" style="margin-top: 0; margin-bottom: 10px;" ng-repeat="comment in comments | orderBy:sortComments.current">
					<a class="pull-left" href="#"><img class="media-object img-rounded" src="http://placehold.it/48" /></a>
					<div class="media-body">
						<a href="#" class="media-heading">{{comment.author.fname}} {{comment.author.lname}}</a>
						<span style="color: rgba(30,55,70,0.4)">
							<span style="font-size: 85%; padding: 3px">&#8226;</span> {{comment.date | timeAgo}}
						</span>
						<div class="pull-right">
							<button class="btn btn-small btn-link" ng-show="0 && (user.auth.isCommentMod || comment.author.id === user.profile.id)" ng-click="deleteComment(comment.id)"><i class="icon-trash icon-white"></i></button>
						</div>
						<p style="font-size: 15px; color: #42474a; font-weight: 300">{{comment.content}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3" ng-show="!attendance.length">
		<div class="box">
			<div class="box-header text-center">RSVP
				<span class="muted">
					<span ng-show="getRemainingSeats() == 1">({{getRemainingSeats()}}/{{event.options.maxRSVPs}} seat available)</span>
					<span ng-show="event.options.maxRSVPs && getRemainingSeats() !== 1">({{getRemainingSeats()}}/{{event.options.maxRSVPs}} seats available)</span>
				</span>
			</div>
			<div class="box-content padded" style="position: relative">
				<button class="btn btn-large input-block-level" ng-click="preRSVP = true" ng-show="!hasRSVP()" ng-disabled="preRSVP" >I'm Going</button>
				<button class="btn btn-large input-block-level btn-primary" ng-click="removeRSVP()" ng-show="hasRSVP()">I'm Going</button>
				<div ng-show="hasRSVP() || preRSVP" ng-animate="{hide: 'slide-hide'}">
					<div class="input-prepend input-append input-block-level" style="margin-top: 10px">
						<span class="add-on">+</span>
						<input type="number" min="0" placeholder="0" ng-model="rsvp.guests">
						<span class="add-on">Guests</span>
					</div>
					<div class="input-prepend input-block-level" ng-show="event.options.requirePhone">
						<span class="add-on">Phone Number</span>
						<input type="tel" placeholder="305-999-9999" ng-model="rsvp.phone">
					</div>
					<div class="alert alert-info" style="margin-bottom: 10px" ng-show="rsvp.error" ng-bind-html-unsafe="rsvp.error"></div>
					<div class="text-center" ng-show="!preRSVP && hasRSVPChanges()" ng-animate="{show: 'slide-show', hide: 'slide-hide'}">
						<button class="btn btn-mini btn-success" ng-click="addRSVP()">Save Changes</button>
					</div>
				</div>
				<div class="text-center" ng-show="preRSVP" ng-animate="{hide: 'slide-hide'}">
					<button class="btn btn-mini btn-primary" ng-click="addRSVP()">Save RSVP</button>
					<button class="btn btn-mini btn-link" ng-click="preRSVP = false; rsvp.error = false">Cancel</button>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="box-header text-center">{{event.rsvps}} <span ng-show="event.rsvps === 1">person</span><span ng-show="event.rsvps !== 1">people</span> attending</div>
			<div class="box-content clearfix">
				<div ng-show="!eventRSVPs.length" class="padded">
					<div class="alert alert-info padded-medium" style="margin-bottom: 0">
						<strong>Be the first to RSVP!</strong> Just click the huge "I'm Going" button above and others will follow.
					</div>
				</div>
				<ul ng-show="eventRSVPs.length" class="unstyled block-hover">
					<li ng-repeat="rsvp in eventRSVPs | limitTo:showAttendanceLimit" class="clearfix">
						<img class="pull-left img-rounded" src="http://placehold.it/36">
						<div class="pull-left" style="margin-left: 10px; line-height: 36px">
							<strong>{{rsvp.fname}}</strong> is going <span class="muted" ng-show="rsvp.guests > 0">[+{{rsvp.guests}}]</span>
						</div>
					</li>
				</ul>
				<div class="pull-right" style="padding: 5px;" ng-show="eventRSVPs.length > 6">
					<a href="" ng-show="showAttendanceLimit == 6" ng-click="showRSVPs()">Show all</a>
					<a href="" ng-show="showAttendanceLimit > 6"  ng-click="showRSVPs()">Show less</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3" ng-show="attendance.length">
		<div class="box" ng-show="userAttended">
			<div class="box-content padded-medium">
				<div class="alert alert-success padded-medium" style="margin-bottom: 0">
					<strong>Thanks for coming!</strong> You have officially received credit for this event. We hope to see you at the next one.
				</div>
			</div>
		</div>
		<div class="box">
			<div class="box-header text-center">{{event.attendance}} <span ng-show="event.attendance === 1">person</span><span ng-show="event.attendance !== 1">people</span> attended</div>
			<div class="box-content clearfix">
				<ul class="unstyled block-hover">
					<li ng-repeat="person in attendance | limitTo:showAttendanceLimit" class="clearfix">
						<img class="pull-left img-rounded" src="http://placehold.it/36">
						<div class="pull-left" style="margin-left: 10px; line-height: 36px">
							<strong>{{person.fname}}</strong> attended
						</div>
					</li>
				</ul>
				<div class="pull-right" style="padding: 5px;" ng-show="event.attendance > 6">
					<a href="" ng-show="showAttendanceLimit == 6" ng-click="showAttendants()">Show all</a>
					<a href="" ng-show="showAttendanceLimit > 6"  ng-click="showAttendants()">Show less</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div modal="showDeleteConfirmation" close="cancelDelete()" options="modalOpts">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancelDelete()">×</button>
		<h3>Are you sure you want to DELETE?</h3>
	</div>
	<div class="modal-body">
		<p>This will <strong>permanently</strong> erase all data related to this event. Are you sure you want to do this?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="doDelete()">Yes, DELETE the Event</button>
		<button class="btn cancel" ng-click="cancelDelete()">Cancel</button>
	</div>
</div>
