<div class="span3">
	<div class="well">
		<input class="span12" type="text" placeholder="Search Events" ng-model="searchName" />
		<ul class="nav nav-list">
			<li class="nav-header">View Events by Type</li>
			<li><a ng-click="searchType = ''">All Events</a></li>
			<li><a ng-click="searchType = 'honorshour'">Honors Hours</a></li>
			<li><a ng-click="searchType = 'excellence'">Excellence Lectures</a></li>
			<li><a ng-click="searchType = 'colloquia'">Colloquia</a></li>
		</ul>
	</div>
</div>

<div class="span9">
	<div class="row-fluid">
		<ul class="thumbnails">
			<li class="span3" data-ng-repeat="event in events | filter:{name: searchName, type: searchType}">
				<a class="thumbnail" href="#/events/{{event.eid}}">
					<img ng-src="assets/img/honorshours/{{event.eid}}.jpg" />
					<div class="caption"><small>{{event.name}}</small></div>
				</a>
			</li>
		</ul>
	</div>
</div>