<div class="span12">
	<div class="box">
		<div class="box-header">Add New Event</div>
		<div class="box-content padded">
			<form name="theForm" class="form-inline" ng-submit="doAdd(theForm)" novalidate>
				<div class="row-fluid">
					<div class="span7">
						<div class="control-group" ng-class="{error: theForm.name.$invalid}">
							<label for="name" class="control-label">Event Name</label><br />
							<input type="text" id="name" name="name" class="input-block-level" ng-model="newItem.name" required /><br />
						</div>
						
						<div class="control-group">
							<label for="flyerURL">Event Flyer URL</label><br />
							<input type="url" id="flyerURL" name="name" class="input-block-level" ng-model="newItem.thumbURL"><br />
						</div>

						<hr />

						<label for="desc">Description</label><br />
						<textarea id="desc" class="input-block-level" style="height: 100px" ng-model="newItem.desc"></textarea>
				

						<hr />

						<div class="row-fluid">
							<div class="span6">
								<div class="row-fluid space-below">
									<div class="span6 control-group input-append">
										<label for="date" class="control-label">Starts on</label><br />
										<input type="text" id="date" name="date" class="input-small" placeholder="Date..." ng-model="newItem.date.starts.date" ng-change="updateEnds('date')" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
										<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
									</div>
									<div class="span6 control-group input-append">
										<label for="date" class="control-label">&nbsp;</label><br />
										<input type="text" id="date" name="date" class="input-small" placeholder="at Time..." ng-model="newItem.date.starts.time" ng-change="updateEnds('time')" bs-timepicker>
										<button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
									</div>
								</div>
								<div class="row-fluid space-below">
									<div class="span6 control-group input-append">
										<label for="date" class="control-label">Ends on</label><br />
										<input type="text" id="date" name="date" class="input-small" placeholder="Date..." ng-model="newItem.date.ends.date" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
										<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
									</div>
									<div class="span6 control-group input-append">
										<label for="date" class="control-label">&nbsp;</label><br />
										<input type="text" id="date" name="date" class="input-small" placeholder="at Time..." ng-model="newItem.date.ends.time" bs-timepicker>
										<button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
									</div>
								</div>
							</div>
							<div class="span5 offset1 control-group">
								<label for="name" class="control-label">Event Type</label><br />
								<select multiple="multiple" ng-model="newItem.types" ng-options="type.$id as type.name group by ((type.citizenship && 'Citizenship') || 'General') for type in eventTypes"></select>
								<span class="help-block" style="margin-top: 5px">Tip: Hold Ctrl to select multiple types.</span>
							</div>
						</div>
                        <div class="row-fluid">
                            <div class="span12 control-group input-append">
                                <label for="clubs" class="control-label">Clubs</label><br />
                                <select ng-model="newItem.club" ng-options="club.$id as club.name for club in clubs" style="width: 100%">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

						<hr />

						<label for="maxRSVPs">Max RSVPs</label><span class="help-inline">(0 for no limit)</span><br />
						<input type="number" id="maxRSVPs" name="maxRSVPs" class="input-medium" min="0" step="1" ng-model="newItem.options.maxRSVPs" placeholder="0" style="width:10%" />
						<label class="checkbox" style="margin-left: 20px">
							<input type="checkbox" ng-model="newItem.options.waitingList" ng-disabled="!newItem.options.maxRSVPs"> Allow waiting list
						</label>
						<label class="checkbox" style="margin-left: 20px">
							<input type="checkbox" ng-model="newItem.options.disallowGuests"> Disallow Guests 
						</label>
						<label class="checkbox" style="margin-left: 20px">
							<input type="checkbox" ng-model="newItem.options.requirePhone"> Require Phone Number to RSVP
						</label>

					</div>
					<div class="span5">
						<div class="row-fluid">

							<!-- map -->
							<leaflet class="well" center="newItem.location" marker="newItem.location" defaults="defaults" height="300px" style="margin-bottom: 15px"></leaflet>

							<div class="control-group" ng-class="{error: theForm.locationName.$invalid}">
								<label for="locationName" class="control-label">Location Name</label><br />
								<input type="text" id="locationName" name="locationName" class="input-block-level" ng-model="newItem.location.name" required /><br />
							</div>
						</div>
						<div class="row-fluid">
							<div class="span3">
								<label for="locationName" class="control-label">Latitude</label><br />
								<input type="text" id="locationName" name="locationName" class="input-block-level" ng-model="newItem.location.lat" /><br />
							</div>
							<div class="span3">
								<label for="locationName" class="control-label">Longitude</label><br />
								<input type="text" id="locationName" name="locationName" class="input-block-level" ng-model="newItem.location.lng" /><br />
							</div>
							<div class="span6">
								<div class="popover right in" style="display: block; top: 18px; position: relative">
									<div class="arrow" style=""></div>
									<div class="popover-inner">
										<div class="popover-content text-center">Drag the marker to change!</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<hr />
					<button class="btn btn-primary" ng-disabled="theForm.$invalid">Add New Event</button>
					<a href="#/events" class="btn btn-link">Go Back</a>
				</div>
			</form>
		</div>
	</div>
</div>
