
<div class="box">
    <div class="box-header">Edit Event</div>
    <div class="box-content padded">
        <form name="theForm" novalidate>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group" ng-class="{'has-error': theForm.name.$invalid}">
                        <label for="name" class="control-label">Event Name</label>
                        <input type="text" id="name" name="name" class="form-control" ng-model="event.name" required />
                    </div>

                    <div class="form-group">
                        <label for="flyerURL" class="control-label">Event Flyer URL</label>
                        <input type="url" id="flyerURL" name="name" class="form-control" ng-model="event.thumbURL">
                    </div>

                    <hr />
                    <div class="form-group">
                        <label for="desc" class="control-label">Description</label>
                        <textarea id="desc" class="form-control" style="height: 100px" ng-model="event.desc"></textarea>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row" style="margin-bottom: 15px">
                                <div class="col-md-12">
                                    <label for="date" class="control-label">Starts on</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">        
                                        <input type="text" id="date" name="date" class="form-control" placeholder="Date..." ng-model="event.date.starts.date" ng-change="updateEnds('date')" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
                                        <span class="input-group-btn" data-toggle="datepicker">
                                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="at Time..." ng-model="event.date.starts.time" ng-change="updateEnds('time')" bs-timepicker>
                                        <span class="input-group-btn" data-toggle="timepicker">
                                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-time"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="date" class="control-label">Ends on</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="Date..." ng-model="event.date.ends.date" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
                                        <span class="input-group-btn" data-toggle="datepicker">
                                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="at Time..." ng-model="event.date.ends.time" bs-timepicker>
                                        <span class="input-group-btn" data-toggle="timepicker">
                                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-time"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 form-group" ng-class="{'has-error': theForm.name.$invalid}">
                            <label for="name" class="control-label">Event Type</label><br />
                            <select class="form-control" multiple="multiple" ng-model="event.types" ng-options="type.$id as type.name group by ((type.citizenship && 'Citizenship') || 'General') for type in eventTypes" required></select>
                            <span class="help-block" style="margin-top: 5px">Tip: Hold Ctrl to select multiple types.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="clubs" class="control-label">Clubs</label><br />
                            <select class="form-control" ng-model="event.club" ng-options="club.$id as club.name for club in clubs" style="width: 100%">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contactName" class="control-label">Contact Name</label><br />
                                <input type="text" id="contactName" class="form-control" ng-model="event.contactName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contactEmail" class="control-label">Contact Email</label><br />
                                <input type="text" id="contactEmail" class="form-control" ng-model="event.contactEmail">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <label class="checkbox" style="margin-left: 20px">
                        <input type="checkbox" ng-model="event.options.disableRSVP"> Disable RSVPs
                    </label>
                    <div class="form-group">
                        <label for="maxRSVPs">Max RSVPs</label><span class="help-block">(0 for no limit)</span><br />
                        <input type="number" class="form-control" id="maxRSVPs" name="maxRSVPs" class="input-medium" min="0" step="1" ng-model="event.options.maxRSVPs" placeholder="0" />
                    </div>
                    <label class="checkbox" style="margin-left: 20px">
                        <input type="checkbox" ng-model="event.options.waitingList" ng-disabled="!event.options.maxRSVPs"> Allow Waiting List 
                    </label>
                    <label class="checkbox" style="margin-left: 20px">
                        <input type="checkbox" ng-model="event.options.requirePhone"> Require Phone Number to RSVP
                    </label>
                </div>
                <div class="col-md-5">

                    <!-- map -->
                    <leaflet class="well" center="event.location" marker="event.location" defaults="defaults" height="300px" style="margin-bottom: 15px"></leaflet>

                    <div class="form-group" ng-class="{error: theForm.locationName.$invalid}">
                        <label for="locationName" class="control-label">Location Name</label>
                        <input type="text" id="locationName" name="locationName" class="form-control" ng-model="event.location.name" required /><br />
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="locationName" class="control-label">Latitude</label>
                                <input type="number" id="locationName" name="locationName" class="form-control" ng-model="event.location.lat" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="locationName" class="control-label">Longitude</label>
                                <input type="number" id="locationName" name="locationName" class="form-control" ng-model="event.location.lng" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="popover right in" style="display: block; top: 18px; position: relative">
                                <div class="arrow" style=""></div>
                                <div class="popover-inner">
                                    <div class="popover-content text-center">Drag the marker to change!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <button class="btn btn-primary" ng-disabled="theForm.$invalid" ng-click="doSaveChanges(theForm)">Save Changes</button>
            <button class="btn btn-default" ng-click="undoChanges()">Undo Changes</button>
            <a href="#/events/{{event.id}}" class="btn btn-link">Go Back</a>
        </form>
    </div>
</div>
