<div class="row">
    <div class="col-md-3">
            <div class="box">
                <div class="box-content padded">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Search Events" ng-model="searchName" />
                        </div>
                    </form> 
                    <ul class="list-group"> 
                        <li class="list-group-item list-group-item-heading">View Events by Type</li>
                        <li class="list-group-item clickable" ng-click="searchBy('')"><a>All Events</a></li>
                        <li class="list-group-item clickable" ng-click="searchBy(type.name)" ng-repeat="type in eventTypes"><a ng-class="{'nav-list-active': searchType == type.name}">{{type.name}} <span class="pull-right event-{{type.color || 'blue'}}">&bull;</span></a></li>
                    </ul>
		</div>
            </div>
            <div class="box" ng-show="user.auth.isEventMod">
                <div class="box-header">Events Administration Panel</div>
                <div class="box-content padded">
                    <a href="#/events/add" class="btn btn-primary btn-block">Add New Event</a>
                    <a href="application/events/eventExport.php?exportType=CSV" class="btn btn-primary btn-block">Export Events to CSV</a>
                </div>
            </div>
	</div>
	<div class="col-md-9">
            <div class="box">
		<div class="box-content">
                    <div class="box-header">Events Calendar</div>
			<calendar ng-model="nothing" show-weeks="false" events="getEvents()" day-header-format="'EEEE'"></calendar>
		</div>
            </div>
	</div>
</div>