<div class="box">
    <div class="box-header">Add New Event</div>
    <div class="box-content padded">
        <form name="theForm" ng-submit="doAdd(theForm)" novalidate>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group" ng-class="{'has-error': theForm.name.$invalid}">
                        <label for="name" class="control-label">Event Name</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="newItem.name" required /><br />
                    </div>

                    <div class="form-group">
                        <label for="flyerURL">Event Flyer URL</label>
                        <input type="url" class="form-control" id="flyerURL" name="name" ng-model="newItem.thumbURL"><br />
                    </div>

                    <hr />

                    <label for="desc">Description</label><br />
                    <textarea class="form-control" id="desc" style="height: 100px" ng-model="newItem.desc"></textarea>

                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="date" class="control-label">Starts on</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="Date..." ng-model="newItem.date.starts.date" ng-change="updateEnds('date')" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
                                        <span class="input-group-btn" data-toggle="datepicker">
                                            <button type="button" class="btn btn-default"><i class="icon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="at Time..." ng-model="newItem.date.starts.time" ng-change="updateEnds('time')" bs-timepicker>
                                        <span class="input-group-btn" data-toggle="timepicker">
                                            <button type="button" class="btn btn-default"><i class="icon-time"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="date" class="control-label">Ends on</label><br />
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="Date..." ng-model="newItem.date.ends.date" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
                                        <span class="input-group-btn" data-toggle="datepicker">
                                            <button type="button" class="btn btn-default"><i class="icon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-group">
                                        <input type="text" id="date" name="date" class="form-control" placeholder="at Time..." ng-model="newItem.date.ends.time" bs-timepicker>
                                        <span class="input-group-btn" data-toggle="timepicker">
                                            <button type="button" class="btn btn-default"><i class="icon-time"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 form-group">
                            <label for="name" class="control-label">Event Type</label><br />
                            <select multiple="multiple" ng-model="newItem.types" class="form-control" ng-options="type.$id as type.name group by ((type.citizenship && 'Citizenship') || 'General') for type in eventTypes"></select>
                            <span class="help-block" style="margin-top: 5px">Tip: Hold Ctrl to select multiple types.</span>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <label for="maxRSVPs">Max RSVPs <span class="help-block">(0 for no limit)</span></label><br />
                        <input class="form-control" type="number" id="maxRSVPs" name="maxRSVPs" min="0" step="1" ng-model="newItem.options.maxRSVPs" placeholder="0" style="width:10%" />
                    </div>
                    <label class="checkbox" style="margin-left: 20px">
                        <input type="checkbox" ng-model="newItem.options.waitingList" ng-disabled="!newItem.options.maxRSVPs"> Allow waiting list
                    </label>
                    <label class="checkbox" style="margin-left: 20px">
                        <input type="checkbox" ng-model="newItem.options.disallowGuests"> Disallow Guests 
                    </label>
                    <label class="checkbox" style="margin-left: 20px">
                        <input type="checkbox" ng-model="newItem.options.requirePhone"> Require Phone Number to RSVP
                    </label>

                </div>
                <div class="col-md-5">

                    <!-- map -->
                    <leaflet class="well" center="newItem.location" marker="newItem.location" defaults="defaults" height="300px" style="margin-bottom: 15px"></leaflet>

                    <div class="form-group" ng-class="{'has-error': theForm.locationName.$invalid}">
                        <label for="locationName" class="control-label">Location Name</label><br />
                        <input type="text" class="form-control" id="locationName" name="locationName" ng-model="newItem.location.name" required /><br />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="locationName" class="control-label">Latitude</label>
                                <input type="text" class="form-control" id="locationName" name="locationName" ng-model="newItem.location.lat" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="locationName" class="control-label">Longitude</label>
                                <input type="text" class="form-control" id="locationName" name="locationName" ng-model="newItem.location.lng" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="popover right in" style="display: block; top: 18px; position: relative">
                                <div class="arrow" style=""></div>
                                <div class="popover-inner">
                                    <div class="popover-content text-center">Drag the marker to change!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <button class="btn btn-primary" ng-disabled="theForm.$invalid">Add New Event</button>
            <a href="#/events" class="btn btn-link">Go Back</a>
        </form>
    </div>
</div>
