<div class="row" style="margin-top: 40px">
	<div class="offset3 span6">
		<div class="box" style="margin-bottom: 30px">
			<div class="box-header">{{event.name}}</div>
			<div class="box-content padded-small">
				<input type="text" class="input-block-level" style="padding: 40px 20px; line-height: 60px; font-size: 40px; margin-bottom: 0" placeholder="Swipe your FIU card..." ng-model="data.userId" ng-enter="doAdd()" />
			</div>
		</div>
	</div>
</div>

<div class="row" ng-show="error">
	<div class="offset3 span6">
		<div class="box">
			<div class="box-content padded-small">
				<div class="alert alert-error" style="margin-bottom: 0; padding: 20px"><strong>Oh snap!</strong> Try swiping again with the BLUE strip on your FIU card.</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-repeat="swipe in swipes | orderBy:nothing:reverse">
	<div class="offset3 span6">
		<div class="box" style="margin-bottom: 5px">
			<div class="box-content padded">
				<strong>{{swipe.fname}}</strong> swiped in
			</div>
		</div>
	</div>
</div>