/* Custom Bootstrap Styling
--------------------------------------------------
@navbarHeight: 68px

 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -102px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 101px;
}

#footer {
	background-color: white;
	border-top: 1px solid #ccc; /* if you change this, also change fixed height & negative indent */
}

#footer address {
	margin-bottom: 0px;
}

#footer-image {
	margin-top: 10px;
}

#footer-content {
	margin-top: 31px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

/* Everything else! */

html {
	overflow-y: scroll;
}

body {
	background: url(../img/body-bg.png);
}

.navbar {
	margin-bottom: 20px;
	border-bottom: 3px solid #00baff;
}

.brand {
	background: url(../img/myhonors.png) no-repeat center center;
	width: 156px;
}

.navbar .nav > li > a {
	color: silver;
	padding-top: 27px;
}

.navbar-form input {
	margin-top: 22px;
}