/* Custom Bootstrap Styling
--------------------------------------------------
@navbarHeight: 68px

 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -102px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 101px;
}

#footer {
	background-color: white;
	border-top: 1px solid #ccc; /* if you change this, also change fixed height & negative indent */
}

#footer address {
	margin-bottom: 0px;
}

#footer-image {
	margin-top: 10px;
}

#footer-content {
	margin-top: 31px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Everything else! */

html {
	overflow-y: scroll;
}

body {
	background: url(../img/body-bg.png);
	color: #707070;
}

h1,h2,h3,h4,h5,h6, .opensans {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Fix for IE9 displaying #wrap as table */
#wrap {
	display: block !important;
}

.container-fluid {
	max-width: 1100px;
	margin: 0 auto;
}

.navbar {
	margin-bottom: 20px;
	border-bottom: 3px solid #00baff;
}

.navbar .btn {
	margin-top: 22px;
}

.brand {
	background: url(../img/myhonors.png) no-repeat center center;
	width: 156px;
}

.navbar .nav > li > a {
	color: silver;
	padding-top: 27px;
}

.navbar .btn-link {
	font-size: inherit;
	padding: 21px 4px 0;
	text-shadow: none;
	margin-top: 0;
}

.navbar .dropdown .btn-link {
	padding: 4px;
}

.dropdown-text {
	display: inline-block;
	margin-top: 27px;
	color: silver;
}

.dropdown.open .btn-link.dropdown-toggle {
	color: #00baff;
	background-color: transparent;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link.visited, .btn-link:focus {outline: 0; border: 0;}

.btn-link:hover {
	color: #00baff;
	text-decoration: none;
	background-color: transparent;
}

.well {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  whitesmoke 0%, #ffffff 20%, whitesmoke 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whitesmoke), color-stop(20%,#ffffff), color-stop(100%,whitesmoke)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  whitesmoke 0%,#ffffff 20%,whitesmoke 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  whitesmoke 0%,#ffffff 20%,whitesmoke 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  whitesmoke 0%,#ffffff 20%,whitesmoke 100%); /* IE10+ */
	background: linear-gradient(to bottom,  whitesmoke 0%,#ffffff 20%,whitesmoke 100%); /* W3C */
}

.box {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	-webkit-box-shadow: 0 2px 2px -2px #cccccc;
	-moz-box-shadow: 0 2px 2px -2px #cccccc;
	box-shadow: 0 2px 2px -2px #cccccc;
	background: #fbfbfb;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.box .box-header {
	padding: 10px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	background: #eaeaea;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fdfdfd),color-stop(100%,#eaeaea));
	background-image: -webkit-linear-gradient(top,#fdfdfd,#eaeaea);
	background-image: -moz-linear-gradient(top,#fdfdfd,#eaeaea);
	background-image: -o-linear-gradient(top,#fdfdfd,#eaeaea);
	background-image: linear-gradient(top,#fdfdfd,#eaeaea);
	text-shadow: 0 1px white;
	border-bottom: 1px solid #CDCDCD;
	color: #636363;
	font-weight: 400;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box .box-content {

}

.padded-small {
	padding: 5px;
}

.padded-medium {
	padding: 8px;
}

.padded {
	padding: 15px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #666;
}

.thumbnail {background-color: white; text-align: center}
.thumbnail .caption {padding: 5px 5px 3px;}
a.thumbnail:hover {text-decoration: none;}

/* Fix for fluid thumbnails (https://github.com/twitter/bootstrap/issues/3494) */
.row-fluid ul.thumbnails li.span12 + li {margin-left : 0px; clear:left;}
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) {margin-left : 0px; clear:left;}
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) {margin-left : 0px; clear:left;}
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) {margin-left : 0px; clear:left;}
.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) {margin-left : 0px; clear:left;}
.row-fluid ul.thumbnails li.span1:nth-child(12n + 13) {margin-left : 0px; clear:left;}

.row-fluid .media.span6:nth-child(2n + 3) {margin-left : 0px; clear:left;}
.row-fluid .media.span4:nth-child(3n + 4) {margin-left : 0px; clear:left;}
.row-fluid .media.span3:nth-child(4n + 5) {margin-left : 0px; clear:left;}
.row-fluid .media.span2:nth-child(6n + 7) {margin-left : 0px; clear:left;}
.row-fluid .media.span1:nth-child(12n + 13) {margin-left : 0px; clear:left;}

/* Upcoming Events */

ul.block-hover {
	margin: 0;
}

ul.block-hover li {
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #efefef;
}

ul.block-hover li:hover {
	background-color: #f4f4f4;
}

ul.block-clickable li:hover {
	cursor: pointer;
}

.event-subtitle {
	display: block;
	margin-top: -2px;
	font-size: 10px;
	text-transform: uppercase;
}

.event-short-desc {
	margin: 0;
	line-height: 15px;
}

.event-attending h3 {
	margin: 5px 0 0;
	line-height: 18px;
}

.event-attending span {
	display: block;
	font-size: 10px;
}

/* MAP OVERLAY */

.mapoverlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.85);
	min-height: 150px;
	width: 450px;
	bottom: 40px;
	right: 0;
	color: white;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.mapoverlay div {
	margin: 15px 22px;
}

.mapoverlay h1 {
	font-size: 32px;
	font-family: Georgia, Serif;
	font-weight: normal;
	text-shadow: 2px 2px 1px black;
}

.mapoverlay p {
	padding: 0px !important;
	margin: 10px 0;
}

.mapoverlay .smalltext {
	padding: 0px;
	margin: 0px;
	color: #DDD;
	font-size: 12px;
	text-shadow: 1px 1px 1px black;
}

/* PROFILE */

.hero-unit {
	border: 1px solid #aaa;
	background-image: url(../img/gplaypattern.png);
}

.media.well {
	margin-top: 0px;
	margin-bottom: 3px;
	padding-bottom: 10px;
}

/* LOGIN PAGE */

.login-header {
	position: absolute;
	color: white;
 	top: 18px;
	width: 98.5%;
	margin-left: 2px;
	line-height: 35px;
	text-align: center;
	border-top: 1px solid #999;
	border-bottom: 1px solid #666;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.img-rotate {
	position: relative;
}

.img-rotate img {
	position: absolute;
	top: 0;
	left: 0;
}

.example-repeat-enter-setup,
.example-repeat-leave-setup,
.example-repeat-move-setup {
  -webkit-transition:all linear 0.4s;
  -moz-transition:all linear 0.4s;
  -ms-transition:all linear 0.4s;
  -o-transition:all linear 0.4s;
  transition:all linear 0.4s;
}
 
.example-repeat-enter-setup {
  line-height:0;
  opacity:0;
}
.example-repeat-enter-setup.example-repeat-enter-start {
  line-height:20px;
  opacity:1;
}
 
.example-repeat-leave-setup {
  opacity:1;
  line-height:20px;
}
.example-repeat-leave-setup.example-repeat-leave-start {
  opacity:0;
  line-height:0;
}
 
.example-repeat-move-setup { }
.example-repeat-move-setup.example-repeat-move-start { }