<div class="box">
	<div class="box-header"> {{event.name}} </div>
	<div class="box-content padded ">
		
		<a href="" class="btn btn-success" style="margin-bottom: 4px;" ng-click="exportExcel()" >Export to Excel</a>
		<a href="" class="btn btn-default" style="margin-bottom: 4px;" ng-click="exportCSV()" >Export as CSV</a>

		<table class="table table-bordered table-hover text-center">
			<thead>
				<tr>
					<td><b>Student Name</b></td>
					<td><b>PID</b></td>
					<td><b>Email</b></td>
					<td><b>Guests</b></td>
					<td ng-show="event.options.requirePhone"><b>Phone Number</b></td>
					<td><b>Time of Registration</b></td>
					<td ng-show="event.attendance"><b>Attended?</b></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rsvp in rsvps">
					<td>{{rsvp.fname + " " + rsvp.lname}}</td>
					<td>{{rsvp.pid}}</td>
					<td>{{rsvp.email}}</td>
					<td>{{rsvp.guests}}</td>
					<td ng-show="event.options.requirePhone">{{rsvp.phone}}</td>
					<td ng-show="rsvp.time">{{rsvp.time | date:'short'}}</td><td ng-show="!rsvp.time">N/A</td>
					<td ng-show="event.attendance">{{checkAttendance(rsvp.pid)}}</td>
					<td><a href="" class="glyphicon glyphicon-remove" ng-click="removeRSVP(rsvp)"></a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
