
<div class="box">
    <div class="box-header">Add Company</div>
    <div class="box-content padded">
        <form name="form" ng-submit="doAdd()" validate>
            <div class="form-group form-inline space-below">
                <label for="name" class="control-label">Company/Organization Name: </label>
                <input type="text" class="form-control" ng-model="newPosition.companyName" required>
            </div>

            <div class="form-group form-inline space-below">
                <label for="website" class="control-label">Website (if applicable): </label>
                <input type="text" class="form-control" ng-model="newPosition.website">
            </div>

            <div class="form-group form-inline space-below">
                <label for="thumbURL" class="control-label">URL to Company's Logo: </label>
                <input type="url" id="thumbURL" class="form-control" ng-model="newPosition.thumbURL">
            </div>

            <div class="form-group form-inline space-below">
                <label for="address" class="control-label">Address: </label>
                <input type="text" class="form-control" ng-model="newPosition.address" required>
            </div>

            <div class="form-group form-inline space-below">
                <label for="pointOfContant" class="control-label">Point of Contact: </label>
                <input type="text" class="form-control" ng-model="newPosition.pointOfContact" required>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-inline space-below">
                        <label for="email" class="control-label">Email Address:</label>
                        <input type="email" class="form-control" ng-model="newPosition.email" required>
                    </div>

                    <div class="form-group form-inline space-below">
                        <label for="amountOfInterns" class="control-label">Number of Interns: </label>
                        <input type="text" class="form-control" ng-model="newPosition.amountOfInterns" required>
                    </div>

                    <div class="form-group form-inline space-below">
                        <label for="startDate" class="control-label" style="margin-right:5px;">Start Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Date..." ng-model="newPosition.date.starts" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
                            <span class="input-group-btn" data-toggle="datepicker">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group form-inline space-below">
                        <label for="startDate" class="control-label" style="margin-right:5px;">End Date:</label>
                        <div class="input-group">
                            <input type="text" id="endDate" name="endDate" class="form-control" placeholder="Date..." ng-model="newPosition.date.ends" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker>
                            <span class="input-group-btn" data-toggle="datepicker">
                                <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-inline space-below">
                        <label for="phone" class="control-label">Phone Number: </label>
                        <input type="tel" class="form-control" ng-model="newPosition.phone" required>
                    </div>

                    <div class="form-group form-inline space-below">
                        <label for="recurring" class="control-label">Recurring? </label>
                        <input id="recurring" type="checkbox" style="vertical-align:middle;" ng-model="newPosition.recurring">
                    </div>

                    <div class="form-group form-inline space-below">
                        <label for="paid" class="control-label">Paid internship </label>
                        <input id="paid" type="checkbox" style="vertical-align:middle;" ng-model="newPosition.paid" ng-click="newPosition.hourlyRate = null">	
                    </div>
                    
                    <div class="form-group form-inline space-below">
                        <label for="hourlyRate" class="control-label">Hourly Rate: $ </label>
                        <input class="form-control" type="text" ng-model="newPosition.hourlyRate" ng-disabled="!newPosition.paid">
                    </div>
                    
                    <div class="form-group form-inline space-below">
                        <label for="hoursPerWeek" class="control-label">Hours per week: </label>
                        <input class="form-control" type="text" ng-model="newPosition.time.hoursPerWeek" required>
                    </div>
                </div>
            </div>

            <div class="form-group space-below">
                <label class="control-label" for="description">Please provide a brief description of your company: </label> <br>
                <textarea class="form-control" ng-model="newPosition.description" rows="4" style="width: 60%;" required></textarea>
            </div>

            <div class="form-group space-below">
                <label class="control-label">Please list any specific skills or qualities that you are looking for in an applicant:</label><br>
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="newPosition.skills.0">
                        <input class="form-control" type="text" ng-model="newPosition.skills.1">
                        <input class="form-control" type="text" ng-model="newPosition.skills.2">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="newPosition.skills.3">
                        <input class="form-control" type="text" ng-model="newPosition.skills.4">
                        <input class="form-control" type="text" ng-model="newPosition.skills.5">
                    </div>
                </div>
            </div>

            <div class="form-group space-below">
                <label for="requirements" class="control-label">Please list any specific requirements that you would like for the candidate to have for their role in 
                    your company or organization (Major, year in college, areas of specialization, etc.)</label>
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="newPosition.requirements.0">
                        <input class="form-control" type="text" ng-model="newPosition.requirements.1">
                        <input class="form-control" type="text" ng-model="newPosition.requirements.2">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="newPosition.requirements.3">
                        <input class="form-control" type="text" ng-model="newPosition.requirements.4">
                        <input class="form-control" type="text" ng-model="newPosition.requirements.5">
                    </div>
                </div>
            </div>

            <div class="form-group space-below">
                <label for="details" class="control-label">What will interns do during their internship with your company/organization?</label>
                <textarea class="form-control" ng-model="newPosition.details" rows="4" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

