<div class="row">
    <div ng-class="(user.auth.isAdmin || user.auth.isStaff) ? 'col-md-8' : 'col-md-12'">
        <div class="well">
            <h3>Jobs & Internships</h3>
            <p>As a student of The Honors College, you have many job and internship opportunities available to you. Below is a list of companies that have contacted us directly. If you have any questions, please email <a href="mailto:agorelic@fiu.edu">agorelic@fiu.edu</a></p>
            <input type="text" class="form-control" ng-model="text.search" placeholder="Search all jobs & internships...">
        </div>

        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-6" ng-class="{'disabled': item.status == 'inactive'}"  ng-repeat="item in careers| filter:text.search" ng-show="(user.auth.isAdmin || user.auth.isStaff) || item.status == 'active'" ng-animate="{enter: 'example-repeat-enter', leave: 'example-repeat-leave', move: 'example-repeat-move'}">
                <div class="well media">
                    <a class="pull-left" href="#/career/{{item.id}}"><img class="media-object img-rounded img-polaroid" ng-src="{{item.thumbURL|| 'http://upload.wikimedia.org/wikipedia/commons/7/7d/Xynth_logo_64x64.jpg'}}" width="64px" height="64px"></a>
                    <div class="media-body" style="line-height: 15px">
                        <small>
                            <a href class="pull-right" ng-show="(user.auth.isAdmin || user.auth.isStaff) && item.status == 'active'" ng-click="toggleActivation($event, item.id, item.status)"> Deactivate </a> 
                            <a href class="pull-right" ng-show="(user.auth.isAdmin || user.auth.isStaff) && item.status == 'inactive'" ng-click="toggleActivation($event, item.id, item.status)"> Activate </a> 
                        </small>
                        <h5 class="media-heading"><a href="#/career/{{item.id}}">{{item.companyName}}</a> <span class="label label-success" ng-show="item.paid">$</span></h5>
                        <small><b>Start Date:</b> {{item.date.starts}} </small> <br />
                        <small><b>End Date:</b> {{item.date.ends}} </small> <br />
                        <small><b>Hours per Week:</b> {{item.time.hoursPerWeek}} </small> <br />
                        <small>{{item.description| truncate:150}}</small>
                        <br />
                        <small><a href="#/career/{{item.id}}" class="pull-right"> <b>Learn More!</b> </a></small>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="careers.length == 0" class="text-center">No internships are currently available.</div>
        <div ng-show="careers.length > 0 && (careers | filter:text.search).length == 0" class="text-center">No internship was found.</div>
    </div>

    <div class="col-md-4" ng-show="user.auth.isAdmin || user.auth.isStaff">
        <div class="box">
            <div class="box-header">Careers Administration Panel</div>
            <div class="box-content padded">
                <a href="#/career/add" class="btn btn-primary btn-block">Add New Position</a>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                Pending Internships
            </div>
            <div class="box-content padded">
                <ul ng-show="showPending">
                    <li ng-repeat="item in pendingCareers">
                        <a href="#/career/{{item.id}}"> {{item.companyName}} </a>
                    </li>
                </ul>

                <div class="alert alert-info padded-medium" ng-show="!showPending">
                    <strong> There are no pending internships. </strong>
                </div>
            </div>
        </div>
    </div>
</div>
