<div class="box">
    <div class="box-header">Add New ARCH Project</div>
    <div class="box-content padded">
        <form name="theForm" ng-submit="doAdd(theForm)" novalidate>
            <div class="form-group">
                <label for="name">Project Name</label>
                <input type="text" class="form-control input-lg" id="name" ng-model="newProject.name" />
            </div>
            
            <hr />

            <h4>Student Information</h4>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-3" ng-class="{error: theForm.studentId.$invalid}">
                    <div class="form-group">
                        <label for="studentId" class="control-label">Panther ID *</label>
                        <input type="text" class="form-control" id="studentId" name="studentId" ng-model="newProject.studentId" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentFname">First Name</label>
                        <input type="text" class="form-control" id="studentFname" ng-model="newProject.studentFname" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentLname">Last Name</label>
                        <input type="text" class="form-control" id="studentLname" ng-model="newProject.studentLname" />
                    </div>
                </div>
                <div class="col-md-3" ng-class="{error: theForm.studentEmail.$invalid}">
                    <div class="form-group">
                        <label for="studentEmail" class="control-label">Email Address</label><br />
                        <input type="email" class="form-control" id="studentEmail" name="studentEmail" ng-model="newProject.studentEmail" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentPhone">Phone Number</label>
                        <input type="text" class="form-control" id="studentPhone" ng-model="newProject.studentPhone" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentMajor1">Major 1</label><br />
                        <input type="text" class="form-control" id="studentMajor1" ng-model="newProject.studentMajor1" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentMajor2">Major 2</label><br />
                        <input type="text" class="form-control" id="studentMajor2" ng-model="newProject.studentMajor2" />
                    </div>
                </div>
            </div>

            <hr />

            <h4>Advisor Information</h4>
            <div class="row">
                <div class="col-md-3" ng-class="{error: theForm.advisorId.$invalid}">
                    <div class="form-group">
                        <label for="advisorId" class="control-label">Panther ID *</label><br />
                        <input type="text" class="form-control" id="advisorId" name="advisorId" ng-model="newProject.advisorId" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="advisorFname">First Name</label>
                        <input type="text" class="form-control" id="advisorFname" ng-model="newProject.advisorFname" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="advisorLname">Last Name</label>
                        <input type="text" class="form-control" id="advisorLname" ng-model="newProject.advisorLname" />
                    </div>
                </div>
                <div class="col-md-3" ng-class="{error: theForm.advisorEmail.$invalid}">
                    <div class="form-group">
                        <label for="advisorEmail" class="control-label">Email Address</label>
                        <input type="email" class="form-control" id="advisorEmail" name="advisorEmail" ng-model="newProject.advisorEmail" />
                    </div>
                </div>
            </div>

            <hr />

            <button class="btn btn-primary" ng-disabled="theForm.$invalid">Add New Project</button>
            <a href="#/arch" class="btn btn-link">Go Back</a>
        </form>
    </div>
</div>
