<div class="box">
    <div class="box-header">View ARCH Project</div>
    <div class="box-content padded">
        <form name="theForm" class="form-inline" novalidate>
            <div class="form-group">
                <label for="name" class="control-label">Project Name</label>
                <input type="text" class="form-control" id="name" ng-model="project.name" class="input-xxlarge" />
            </div>
            
            <hr />

            <h4>Student Information</h4>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-3">
                    <div class="form-group" ng-class="{error: theForm.studentId.$invalid}">
                        <label for="studentId" class="control-label">Panther ID *</label>
                        <input type="text" class="form-control" id="studentId" name="studentId" ng-model="project.student.id" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentFname" class="control-label">First Name</label>
                        <input type="text" class="form-control" id="studentFname" ng-model="project.student.fname" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentLname" class="control-label">Last Name</label>
                        <input type="text" class="form-control" id="studentLname" ng-model="project.student.lname" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-class="{error: theForm.studentEmail.$invalid}">
                        <label for="studentEmail" class="control-label">Email Address</label><br />
                        <input type="email" class="form-control" id="studentEmail" name="studentEmail" ng-model="project.otherInfo.studentEmail" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentPhone" class="control-label">Phone Number</label>
                        <input type="text" class="form-control" id="studentPhone" ng-model="project.otherInfo.studentPhone" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentMajor1" class="control-label">Major 1</label>
                        <input type="text" class="form-control" id="studentMajor1" ng-model="project.otherInfo.studentMajor1" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentMajor2" class="control-label">Major 2</label>
                        <input type="text" class="form-control" id="studentMajor2" ng-model="project.otherInfo.studentMajor2" />
                    </div>
                </div>
            </div>

            <hr />

            <h4>Advisor Information</h4>
            <div class="row">
                <div class="col-md-3" ng-class="{error: theForm.advisorId.$invalid}">
                    <div class="form-group">
                        <label for="advisorId" class="control-label">Panther ID *</label>
                        <input type="text" class="form-control" id="advisorId" name="advisorId" ng-model="project.advisor.id" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="advisorFname">First Name</label>
                        <input type="text" class="form-control" id="advisorFname" ng-model="project.advisor.fname" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="advisorLname">Last Name</label>
                        <input type="text" class="form-control" id="advisorLname" ng-model="project.advisor.lname" />
                    </div>
                </div>
                <div class="col-md-3" ng-class="{error: theForm.advisorEmail.$invalid}">
                    <div class="form-group">
                        <label for="advisorEmail" class="control-label">Email Address</label>
                        <input type="text" class="form-control" id="advisorEmail" name="advisorEmail" ng-model="project.otherInfo.advisorEmail" />
                    </div>
                </div>
            </div>

            <hr />

            <button class="btn btn-primary" ng-click="doSaveChanges(theForm)" ng-disabled="theForm.$invalid">Save Changes</button>
            <button class="btn" ng-click="undoChanges()">Undo Changes</button>
            <a href="#/arch/{{project.$id}}" class="btn btn-link">Go Back</a>
        </form>
    </div>
</div>