<div class="row-fluid">
	<div ng-class="{span9: user.auth.isArchMod, span12: !user.auth.isArchMod}">
		<div class="box">
			<div class="box-header">Your ARCH Projects</div>
			<div class="box-content">
				<ul ng-show="projects.length && !user.auth.isArchMod" class="unstyled block-hover block-clickable">
					<li ng-repeat="project in projects | filter:searchText" ng-click="goToContract(project.$id)" style="padding: 20px">
						<strong>Project Title:</strong> {{project.name}}
						<span ng-show="!project.contract.signedByStudent" class="label label-warning" style="margin-left: 10px">Pending Student Signature</span>
						<span ng-show="project.contract.signedByStudent" class="label label-success" style="margin-left: 10px">Signed By Student</span>
						<span ng-show="!project.contract.signedByAdvisor" class="label label-warning" style="margin-left: 10px">Pending Advisor Signature</span>
						<span ng-show="project.contract.signedByAdvisor" class="label label-success" style="margin-left: 10px">Signed By Advisor</span>
					</li>
				</ul>
				<table class="table table-hover" style="margin-bottom: 0px" ng-show="user.auth.isArchMod">
					<thead>
						<tr class="clickable">
							<th ng-click="orderBy = (orderBy === 'student.fname') ? 'student.lname' : 'student.fname'">Student Name</th>
							<th ng-click="orderBy = 'student.pid'">Student PID</th>
							<th ng-click="orderBy = (orderBy === 'advisor.fname') ? 'advisor.lname' : 'advisor.fname'">Advisor Name</th>
							<th ng-click="orderBy = 'advisor.pid'">Advisor PID</th>
							<th>Project Progress</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projects | filter:searchText | orderBy:orderBy" ng-click="goToProject(project.$id)" class="clickable">
							<td>{{project.student.fname}} {{project.student.lname}}</td>
							<td>{{project.student.pid}}</td>
							<td>{{project.advisor.fname}} {{project.advisor.lname}}</td>
							<td>{{project.advisor.pid}}</td>
							<td style="line-height: 10px; vertical-align: middle">
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #556270; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #556270; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #556270; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #4ECDC4; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #4ECDC4; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #4ECDC4; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #A1EB00; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #C7F464; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #A1EB00; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #4ECDC4; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #556270; border-right: 1px solid white"></span>
								<span style="inline-block; float: left; height: 10px; width: 10px; background-color: #556270; border-right: 1px solid white"></span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="padded" ng-show="!(projects | filter:searchText).length">
					<div class="alert alert-info">
						None
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="span3" ng-show="user.auth.isArchMod">
		<div class="box">
			<div class="box-header">ARCH Administration Panel</div>
			<div class="box-content padded">
				<input id="search" type="text" ng-model="searchText" placeholder="Search for..." />
				<span class="help-block">You can search by PID, name, major, email address, etc.</span>
				<hr>
				<a href="#/arch/add" class="btn btn-primary input-block-level">Add New Project</a>
			</div>
		</div>
	</div>
</div>