<div class="span6">
	<div class="box">
		<div class="box-header">Welcome to MyHonors!</div>
		<div class="box-content padded">
			<p>MyHonors is a fast, modern infrastructure and social base for students, faculty, and staff. This online portal is still in active development, which means three things:</p>
			<ol>
				<li>You'll probably see new changes (big and small) come out every week or two.</li>
				<li>For now, we can only promise a seamless experience in the latest versions of Mozilla Firefox and Google Chrome. Accessibility is important to us and we will be adapting the software for older browsers very soon.</li>
				<li>If you encounter any bugs, if you have any recommendations, or if you want to ask a question about MyHonors, you can email us at <a href="mailto:honors@fiu.edu">honors@fiu.edu</a></li>
			</ol>
			<p>Good luck with your classes!</p>
		</div>
	</div>
</div>

<div class="span6" ng-controller="CitizenshipCtrl">
	<div class="span4">
		<div class="box">
			<div class="box-header">Honors Hours</div>
			<div class="box-content padded clearfix">
				<canvas class="pull-left" width="60" height="60" doughnut-chart="eventTally['Honors Hour'],2"></canvas>
				<div class="pull-right"><h2>{{eventTally['Honors Hour']}}/2</h2></div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="box">
			<div class="box-header">Colloquia</div>
			<div class="box-content padded clearfix">
				<canvas class="pull-left" width="60" height="60" doughnut-chart="eventTally['Colloquium'],1"></canvas>
				<div class="pull-right"><h2>{{eventTally['Colloquium']}}/1</h2></div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="box">
			<div class="box-header">Excellence Lectures</div>
			<div class="box-content padded clearfix">
				<canvas class="pull-left" width="60" height="60" doughnut-chart="eventTally['Excellence Lecture'],1"></canvas>
				<div class="pull-right"><h2>{{eventTally['Excellence Lecture']}}/1</h2></div>
			</div>
		</div>
	</div>
</div>
<div class="span6">
	<div class="box">
		<div class="box-header">
			Volunteer Hours (0/20)
			<div class="pull-right" ng-show="user.auth.isMiddleCircleAdmin">
				<a href="#/citizenship" class="btn btn-mini" ng-click="">
					<i class="icon-plus"></i> Add
				</a>
			</div>
		</div>
		<div class="box-content padded clearfix">
			<div class="mh-progress"><div class="bar" style="width: 0%;"></div></div>
		</div>
	</div>
</div>
<div class="span6">
	<div class="box">
		<div class="box-header">Upcoming Events</div>
		<div class="box-content" ng-show="events.length">
			<ul class="block-hover block-clickable">
				<li ng-repeat="event in events | orderBy:'date.starts'" ng-click="goToEvent(event.$id)" class="clearfix">
					<img class="pull-left span2 img-rounded" ng-src="{{event.thumbURL || 'http://placehold.it/75'}}">
					<div class="pull-left span8">
						<div>
							<strong>{{event.name}}</strong>
							<span>on {{event.date.starts | date:"MMM d 'at' h:mm a"}}</span>
						</div>
						<div class="event-types">
							<span class="muted" ng-repeat="type in event.types" ng-show="event.types">{{type}}<span ng-show="!$last">,&nbsp;</span></span>
							<span class="muted" ng-show="!event.types">GENERAL EVENT</span>
						</div>
						<p class="event-short-desc">{{(event.desc || 'No description.') | truncate:75}} <a href="#/events/{{event.id}}" ng-show="event.desc.length > 75">read more</a></p>
					</div>
					<div class="span2 text-center event-attending">
						<h3>{{event.rsvps}}</h3>
						<span class="opensans">ATTENDING</span>
						<button class="btn btn-mini" ng-click="addRSVP(event.$id, $event)" ng-show="!hasRSVP(event.$id)">I'm Going</button>
						<button class="btn btn-mini btn-primary" ng-click="removeRSVP(event.$id, $event)" ng-show="hasRSVP(event.$id)">I'm Going</button>
					</div>
				</li>
			</ul>
		</div>
		<div class="box-content padded" ng-show="!events.length">
			<div class="alert alert-info padded-medium" style="margin-bottom: 0">
				<strong>No upcoming events.</strong> Check back again soon!
			</div>
		</div>
	</div>
</div>