<div class="row" ng-show="user.auth.isAdmin || user.auth.isStaff">
  <div class="box">
    <div class="box-header">Archive Administration Panel</div>
    <div class="box-content padded">
        <a ng-click="adding()" class="btn btn-primary btn-block">Add New Archive Video</a> <br ng-show="addingVideo">

        <div ng-show="addingVideo" align="center">
          <label class="control-label">Title of video: </label>
          <input type="text" ng-model="newVideo.title" class="form-control" style="width: 60%;"></div>
          <br ng-show="addingVideo">

          <div ng-show="addingVideo" align="center">
            <label class="control-label">Date: </label>
            <input type="text" ng-model="newVideo.date" class="form-control" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker style="width: 15%;">
            <span class="input-group-btn" data-toggle="datepicker">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
            <br ng-show="addingVideo">

        <div ng-show="addingVideo" align="center">
          <label class="control-label">Video URL: </label>
          <input type="text" ng-model="newVideo.videolink" class="form-control" style="width: 60%;"></div>
          <br ng-show="addingVideo">

        <div ng-show="addingVideo" align="center">
          <label class="control-label">Description: </label>
          <textarea type="text" ng-model="newVideo.desc" class="form-control" rows="4" style="width: 60%;"></textarea></div>
          <br ng-show="addingVideo">

          <div ng-show="addingVideo" align="center">
            <label class="control-label">Event type: </label>
            <!--<input type="text" ng-model="newVideo.eventType" class="form-control" style="width: 60%;">-->
            <select ng-model="newVideo.eventType">
              <option value="Leadership Lecture">Leadership Lecture</option>
              <option value="Colloquium">Colloquium</option>
              <option value="Honors Hour">Honors Hour</option>
              <option value="HEARTS">HEARTS</option>
              <option value="Sponsored Event">Sponsored Event</option>
              <option value="Club Meeting">Club Meeting</option>
              <option value="Study Room and BBC Lab">Study Room and BBC Lab</option>
            </select></div>
            <br ng-show="addingVideo">

          <div ng-show="addingVideo" align="center">
            <label class="control-label">numPoints : </label>
            <select ng-model="newVideo.numPoints">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select></div>
            <br ng-show="addingVideo">

        <div ng-show="addingVideo" align="center">
          <label class="control-label">Thumbnail URL : </label>
          <input type="text" ng-model="newVideo.thumbnail" class="form-control" style="width: 60%;"></div>
          <br ng-show="addingVideo">

        <div ng-show="addingVideo" align="center">
          <label class="control-label">Survey URL : </label>
          <input type="text" ng-model="newVideo.survey" class="form-control" style="width: 60%;"></div>
          <br ng-show="addingVideo">

          <div ng-show="addingVideo" align="center">
            <label class="control-label">Survey Deadline: </label>
            <input type="text" ng-model="newVideo.deadline" class="form-control" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker style="width: 15%;">
            <span class="input-group-btn" data-toggle="datepicker">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
            <br ng-show="addingVideo">

        <a ng-click="submit()" ng-show="addingVideo" class="btn btn-primary btn-block">Submit</a>

        <div class="well media" ng-show="addingVideo">
          <a class="pull-left" href="{{newVideo.videolink}}" traget="_blank"><img ng-src='{{newVideo.thumbnail}}' width="200px" height="200px"></a>
          <h5>{{newVideo.title}} - <small>{{newVideo.eventType}} : {{newVideo.numPoints}}</small></h5> </br>
          <small><b>Description.</b> {{newVideo.desc}}</small> </br>
          <small><b>Date: </b> <span>{{newVideo.date}}</span></small>
        </div>
        <div ng-show="addingVideo" class="well well-sm"><a href="{{newVideo.survey}}">Click here to take Survey for {{newVideo.title}}.</a></div>
    </div>
  </div>
</div>

<div class="row" ng-repeat="item in list" style="margin-bottom:15px;">
  <div class="well media">
    <a class="pull-left" href="#/archive/videoplayer/{{item.id}}"><img ng-src='{{item.thumbnail}}' width="200px" height="200px"></a>
    <h5>{{item.title}} - <small>{{item.eventType}} : {{item.numPoints}}</small></h5> </br>
    <small><b>Description.</b> {{item.desc}}</small> </br>
    <small><b>Date: </b> <span>{{item.date}}</span></small>
    <div align="right" ng-show="user.auth.isAdmin || user.auth.isStaff">
      <a ng-click="editing(item)" class="btn btn-primary">Edit</a>
      </div>
  </div>
  <div class="well well-sm" ng-show="survey(item.survey)"><a href="{{item.survey}}">Click here to take Survey for {{item.title}}.</a>
    Survey Deadline: {{item.surveyDeadline}}
  </div>
  <div class="box" ng-show="item.editing" align="center">
    <label class="control-label">Title: </label>
    <input type="text" ng-model="editVideo.title" class="form-control" style="width: 60%;">

    <label class="control-label">Date: </label>
    <input type="text" ng-model="editVideo.date" class="form-control" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker style="width: 15%;">
    <span class="input-group-btn" data-toggle="datepicker">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </br>

    <label class="control-label">Video URL: </label>
    <input type="text" ng-model="editVideo.videolink" class="form-control" style="width: 60%;">
    </br>

    <label class="control-label">Description: </label>
    <textarea type="text" ng-model="editVideo.desc" class="form-control" rows="4" style="width: 60%;"></textarea>
    </br>

    <label class="control-label">Event type: </label>
      <!--<input type="text" ng-model="newVideo.eventType" class="form-control" style="width: 60%;">-->
      <select ng-model="editVideo.eventType">
        <option value="Leadership Lecture">Leadership Lecture</option>
        <option value="Colloquium">Colloquium</option>
        <option value="Honors Hour">Honors Hour</option>
        <option value="HEARTS">HEARTS</option>
        <option value="Sponsored Event">Sponsored Event</option>
        <option value="Club Meeting">Club Meeting</option>
        <option value="Study Room and BBC Lab">Study Room and BBC Lab</option>
      </select>
    </br>

    <label class="control-label">numPoints: </label>
      <select ng-model="editVideo.numPoints">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </br>

    <label class="control-label">Thumbnail URL: </label>
    <input type="text" ng-model="editVideo.thumbnail" class="form-control" style="width: 60%;">
    </br>

    <label class="control-label">Survey Link: </label>
    <input type="text" ng-model="editVideo.survey" class="form-control" style="width: 60%;"> Type "Close" to close the survey </br>

    <label class="control-label">Survey Deadline: </label>
    <input type="text" ng-model="editVideo.deadline" class="form-control" data-date-format="mm/dd/yyyy" date-type="string" bs-datepicker style="width: 15%;">
    <span class="input-group-btn" data-toggle="datepicker">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </br>

    <a ng-click="edit(item, editVideo)" class="btn btn-primary btn-block">Edit Video</a> </br>
    <a ng-click="delete(item)" ng-confirm="Are you sure you want to delete {{item.title}}" class="btn btn-primary btn-block">Delete Video</a>
  </div>
</div>
