<div class="row">
	<div class="span12" ng-controller="CitizenshipCtrl">
		<div class="span4">
			<div class="box">
				<div class="box-header">Honors Hours</div>
				<div class="box-content padded clearfix">
					<p class="pull-left">Honors Hours provide seminars, enriching lectures, and workshops to expand your undergraduate experience. These are on Tuesdays and Thursdays from 3:30 PM to 4:45 PM during Fall and Spring.</p>
					<p><strong>You currently have {{eventTally['Honors Hour']}}/2 Honors Hours.</strong></p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<div class="box-header">Colloquia</div>
				<div class="box-content padded clearfix">
					<p class="pull-left">Three times a semester we invite Honors College faculty fellow to give a presentation on a topic of interest.  Colloquia occur at the same time as Honors Hours, Tuesday or Thursday at 3:30 PM</p>
					<p><strong>You currently have {{eventTally['Colloquium']}}/1 Colloquia.</strong></p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<div class="box-header">Excellence Lectures</div>
				<div class="box-content padded clearfix">
					<p class="pull-left">Twice a year we invite guests from outside FIU to come address the student body.  Our excellence lectures have brought such noted guests as Senator Bob Graham and noted author Anya Kamenetz.</p>
					<p><strong>You currently have {{eventTally['Excellence Lecture']}}/1 Excellence Lecture.</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="box">
			<div class="box-header">Volunteer Hours (0/20)</div>
			<div class="box-content padded clearfix">
				<div class="mh-progress"><div class="bar" style="width: 0%;"></div></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<div class="box">
			<div class="box-header">Add Volunteer Hours</div>
			<div class="box-content padded clearfix">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="agency">Agency/Organization</label>
						<div class="controls">
							<input ng-model="newData.agency" type="text" id="agency" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="activity">Activity Name</label>
						<div class="controls">
							<input ng-model="newData.activity" type="text" id="activity" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="hours">Total Hours</label>
						<div class="controls">
							<input ng-model="newData.hours" type="number" id="hours" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="startDate">Start Date</label>
						<div class="controls">
							<input ng-model="newData.startDate" type="text" id="startDate" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="endDate">End Date</label>
						<div class="controls">
							<input ng-model="newData.endDate" type="text" id="endDate" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="referenceName">Reference Name</label>
						<div class="controls">
							<input ng-model="newData.referenceName" type="text" id="referenceName" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="referenceTitle">Reference Title/Position</label>
						<div class="controls">
							<input ng-model="newData.referenceTitle" type="text" id="referenceTitle" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="referenceEmail">Reference Email Address</label>
						<div class="controls">
							<input ng-model="newData.referenceEmail" type="text" id="referenceEmail" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="referencePhone">Reference Phone Number</label>
						<div class="controls">
							<input ng-model="newData.referencePhone" type="text" id="referencePhone" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary" ng-click="submit()">Add Hours</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="box-header">Pending Submissions</div>
			<div class="box-content padded">
				You currently have <strong>{{submissions.length}}</strong> pending submissions.
			</div>
		</div>
	</div>
</div>