<div class="row" ng-controller="CitizenshipCtrl">
		<div class="col-md-8">
			<div class="box">
				<div class="box-header">MyHonors Citizenship Points</div>
				<div class="box-content padded clearfix">
					<p>For further citizenship requirement flexibility, FIU Honors College has setup a universal points system active Fall 2014. Each event type below is worth their respective point each time you attend that type of event. It is required of you to satisfy <b>20 points</b> for the Fall-Spring academic year. How you accrue such points is up to you. You currently have <b>{{ citizenship.points }}</b> points.</p>
					<table class="table">
                        <thead>
                            <tr>
                                <td>Event Type</td>
                                <td>Points (per attendance)</td>
                                <td>Maximum Points Possible (Yearly)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="citizenship in citizenship.types.enabledTypes | orderCitizenship:'points':'true'" ng-hide="citizenship.hide">
                                <td>{{ citizenship.keyValue }}</td>
                                <td>{{ citizenship.points }}</td>
                                <td ng-if="citizenship.maxPoints > 0">{{ citizenship.maxPoints }}</td>
                                <td ng-if="citizenship.maxPoints == 0">Unrestricted</td>
                            </tr>
                            <tr>
                                <td>Study Room and BBC Lab</td>
                                <td>10 total visits = 1 point</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
					
				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header">Events Attended</div>
                <div class="box-content padded">
                    <div id="accordion" ng-if="citizenship.eventsCount">
                        <div class="space-below" ng-repeat="(eventType, collection) in citizenship.events">
                            <a data-target="#citizenshipEventType-{{$index}}" data-toggle="collapse" style="cursor:pointer;">
                                <b><i class="fa fa-caret-square-o-down"></i> {{ eventType }}</b>
                            </a>
                            <ul class="block-hover collapse" id="citizenshipEventType-{{$index}}">
                                <li ng-repeat="(eventName, event) in collection">
                                        <a ng-href="#/events/{{event.$id}}" style="cursor:pointer;">{{ eventName }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="accordion" ng-if="citizenship.roomswipeCount">
                        <div class="space-below" ng-repeat="(roomswipeType, roomswipeList) in citizenship.roomswipe">
                            <a data-target="#citizenshipRoomswipeType-{{$index}}" data-toggle="collapse" style="cursor:pointer;">
                                <b><i class="fa fa-caret-square-o-down"></i> {{ roomswipeType }}</b>
                            </a>
                            <ul class="block-hover collapse" id="citizenshipRoomswipeType-{{$index}}">
                                <li ng-repeat="roomswipeContent in roomswipeList">
                                    Visit reason: {{ roomswipeContent.answer }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="alert alert-info" style="margin-bottom: 0" ng-if="!citizenship.eventsCount && !citizenship.roomswipeCount">
                        No events attended.
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="box">
			<div class="box-header">Add Volunteer Hours</div>
			<div class="box-content padded clearfix">
				<form class="form" name="volunteerHoursForm">
                                    
                                        <div class="form-group">
					<label class="control-label" for="agency">Agency/Organization</label>
					<input class="form-control" ng-model="newData.agency" type="text" id="agency" required />
                                        </div>
                                    
					<div class="row">
						<div class="col-md-6">
							<label class="control-label" for="activity">Activity Name</label>
							<input class="form-control" ng-model="newData.activity" type="text" id="activity" required />
						</div>
						<div class="col-md-6">
							<label class="control-label" for="hours">Total Hours</label>
							<input class="form-control" ng-model="newData.hours" type="number" id="hours" placeholder="0" required />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label class="control-label" for="startDate">Start Date</label>
							<input class="form-control" ng-model="newData.startDate" type="text" id="startDate" placeholder="MM/DD/YYYY" required />
						</div>
						<div class="col-md-6">
							<label class="control-label" for="endDate">End Date</label>
							<input class="form-control" ng-model="newData.endDate" type="text" id="endDate" placeholder="MM/DD/YYYY" required />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label class="control-label" for="referenceName">Reference Name</label>
							<input class="form-control" ng-model="newData.referenceName" type="text" id="referenceName" required />
						</div>
						<div class="col-md-6">
							<label class="control-label" for="referenceTitle">Reference Title/Position</label>
							<input class="form-control" ng-model="newData.referenceTitle" type="text" id="referenceTitle" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label class="control-label" for="referenceEmail">Reference Email Address</label>
							<input class="form-control" ng-model="newData.referenceEmail" type="text" id="referenceEmail" required />
						</div>
						<div class="col-md-6">
							<label class="control-label" for="referencePhone">Reference Phone Number</label>
							<input class="form-control" ng-model="newData.referencePhone" type="text" id="referencePhone" />
						</div>
					</div>

                                        <br/>
                                        
					<button type="submit" class="btn btn-primary" ng-click="submit(volunteerHoursForm)">Add Hours</button>

				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box">
			<div class="box-header">Volunteer Hours ({{hoursCompleted}}/20) </div>
			<div class="box-content padded clearfix">
				<div class="mh-progress">
					<!-- We multiply: (Student's hours/20)*100 = (Student's hours * 5) -->
					<!-- Then if the resulting percentage is less than 100%, we use the first div below. If it is bigger than 100%, we use the second div below, that has a width of 100% -->
					<div class="bar" ng-if="hoursCompleted*5 <= 100" style="width: {{hoursCompleted*5}}%;"></div>
					<div class="bar" ng-if="hoursCompleted*5 > 100" style="width: 100%;"></div>
					</div>
			</div>
		</div>
		<div class="box" >
			<div class="box-header">Pending Submissions</div>
			<div class="box-content" ng-if="submissions.length > 0">
				<ul class="block-hover">
					<li ng-repeat="sub in submissions" class="hover-icon" style="word-wrap: break-word;">
						{{ $index + 1 }}.
						<label class="label label-info" ng-show="sub.status != 'accepted'" style="margin-right: 2px">WAITING FOR VERIFICATION</label> 
						<label class="label label-success" ng-show="sub.status == 'accepted'" ng-init="addVolunteerHours(sub)" style="margin-right: 2px">ACCEPTED</label> 
                        <b>{{sub.agency}}</b> - {{sub.activity}} <a href="" class="glyphicon glyphicon-remove icon" ng-click="removeVolunteerHours(sub)"></a>
                        <br>
                        Start-End Date: {{sub.startDate}} - {{sub.endDate}}
					</li>
				</ul>
			</div>
			<div class="box-content padded" ng-if="!submissions.length">
				<div class="alert alert-info" style="margin-bottom: 0">
					No pending submissions.
				</div>
			</div>
		</div>
	</div>
</div>
