<div class="row">
	<div class="span12" ng-controller="CitizenshipCtrl">
		<div class="span4">
			<div class="box">
				<div class="box-header">Honors Hours</div>
				<div class="box-content padded clearfix">
					<p class="pull-left">Honors Hours provide seminars, enriching lectures, and workshops to expand your undergraduate experience. These are on Tuesdays and Thursdays from 3:30 PM to 4:45 PM during Fall and Spring.</p>
					<p><strong>You currently have {{honorsHours.length}}/2 Honors Hours.</strong></p>
					
					<ul>
						<li ng-repeat="honorsHour in honorsHours">
							{{honorsHour}}
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<div class="box-header">Colloquia</div>
				<div class="box-content padded clearfix">
					<p class="pull-left">Three times a semester we invite Honors College faculty fellow to give a presentation on a topic of interest.  Colloquia occur at the same time as Honors Hours, Tuesday or Thursday at 3:30 PM</p>
					<p><strong>You currently have {{colloquiums.length}}/1 Colloquia.</strong></p>
					
					<ul>
						<li ng-repeat="colloquium in colloquiums">
							{{colloquium}}
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="box">
				<div class="box-header">Excellence Lectures</div>
				<div class="box-content padded clearfix">
					<p class="pull-left">Twice a year we invite guests from outside FIU to come address the student body.  Our excellence lectures have brought such noted guests as Senator Bob Graham and noted author Anya Kamenetz.</p>
					<p><strong>You currently have {{excellenceLectures.length}}/1 Excellence Lecture.</strong></p>
					
					<ul>
						<li ng-repeat="excellenceLecture in excellenceLectures">
							{{excellenceLecture}}
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<div class="box">
			<div class="box-header">Add Volunteer Hours</div>
			<div class="box-content padded clearfix">
				<form class="form" name="volunteerHoursForm">

					<label for="agency">Agency/Organization</label>
					<input ng-model="newData.agency" type="text" id="agency" required />

					<div class="row-fluid">
						<div class="span6">
							<label for="activity">Activity Name</label>
							<input ng-model="newData.activity" type="text" id="activity" required />
						</div>
						<div class="span6">
							<label for="hours">Total Hours</label>
							<input ng-model="newData.hours" type="number" id="hours" placeholder="0" required />
						</div>
					</div>

					<div class="row-fluid">
						<div class="span6">
							<label for="startDate">Start Date</label>
							<input ng-model="newData.startDate" type="text" id="startDate" placeholder="MM/DD/YYYY" required />
						</div>
						<div class="span6">
							<label for="endDate">End Date</label>
							<input ng-model="newData.endDate" type="text" id="endDate" placeholder="MM/DD/YYYY" required />
						</div>
					</div>

					<div class="row-fluid">
						<div class="span6">
							<label for="referenceName">Reference Name</label>
							<input ng-model="newData.referenceName" type="text" id="referenceName" required />
						</div>
						<div class="span6">
							<label for="referenceTitle">Reference Title/Position</label>
							<input ng-model="newData.referenceTitle" type="text" id="referenceTitle" />
						</div>
					</div>

					<div class="row-fluid">
						<div class="span6">
							<label for="referenceEmail">Reference Email Address</label>
							<input ng-model="newData.referenceEmail" type="text" id="referenceEmail" required />
						</div>
						<div class="span6">
							<label for="referencePhone">Reference Phone Number</label>
							<input ng-model="newData.referencePhone" type="text" id="referencePhone" />
						</div>
					</div>

					<label></label>
					<button type="submit" class="btn btn-primary" ng-click="submit(volunteerHoursForm)">Add Hours</button>

				</form>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="box-header">Volunteer Hours ({{hoursCompleted}}/20) </div>
			<div class="box-content padded clearfix">
				<div class="mh-progress">
					<!-- We multiply: (Student's hours/20)*100 = (Student's hours * 5) -->
					<!-- Then if the resulting percentage is less than 100%, we use the first div below. If it is bigger than 100%, we use the second div below, that has a width of 100% -->
					<div class="bar" ng-if="hoursCompleted*5 <= 100" style="width: {{hoursCompleted*5}}%;"></div>
					<div class="bar" ng-if="hoursCompleted*5 > 100" style="width: 100%;"></div>
					</div>
			</div>
		</div>
		<div class="box">
			<div class="box-header">Pending Submissions</div>
			<div class="box-content" ng-if="submissions.length > 0">
				<ul class="block-hover">
					<li ng-repeat="sub in submissions">
						<label class="label label-info" ng-show="sub.status != 'accepted'" style="margin-right: 2px">WAITING FOR VERIFICATION</label> 
						<label class="label label-success" ng-show="sub.status == 'accepted'" ng-init="addVolunteerHours(sub)" style="margin-right: 2px">ACCEPTED</label> 
						{{sub.agency}}
					</li>
				</ul>
			</div>
			<div class="box-content padded" ng-if="!submissions.length">
				<div class="alert alert-info" style="margin-bottom: 0">
					No pending submissions.
				</div>
			</div>
		</div>
	</div>
</div>
