	<div class="row" style="margin-top: 100px">
		<div class="col-md-4 col-md-offset-2" img-rotate delay="4000">
			<img src="assets/img/frontpage-1.jpg" class="img-polaroid img-rounded" />
			<img src="assets/img/frontpage-2.jpg" class="img-polaroid img-rounded" />
			<img src="assets/img/frontpage-3.jpg" class="img-polaroid img-rounded" />
		</div>

		<div class="col-md-4">
			<div class="btn-primary login-header" data-ng-switch="currentPage">
				<strong ng-switch-when="loginPage">Login to FIU MyHonors</strong>
				<strong ng-switch-when="forgotPass">Forgot your password?</strong>
			</div>

			<div class="well well-large" style="padding-top: 70px" data-ng-switch="currentPage">
				<div ng-switch-when="loginPage">
					<form ng-submit="doLogin()">
						
						<label for="email">Panther ID</label>
						<input type="text" id="email" placeholder="1234567" ng-model="loginForm.pid" />
						
						<label for="password">MyAccounts Password</label>
						<input type="password" id="password" name="password" ng-model="loginForm.password" />
						
						<button ng-show="!status.loading" class="btn btn-primary" type="submit" >Login</button>
						<button ng-show="status.loading" class="btn btn-primary disabled">Loading...</button>

						<button class="btn btn-link" ng-click="$parent.currentPage = 'forgotPass'">Forgot Password?</button>
						
					</form>
				</div>
				<div ng-switch-when="forgotPass">
					<p>To reset your MyAccounts password, please visit the <a target="_blank" href="https://myaccounts.fiu.edu/itim/self/reset-password/">Password Reset</a> page.</p>
					<p>Don't forget to come back! :)</p>
					<button class="btn btn-primary" ng-click="$parent.currentPage = 'loginPage'"><i class="icon-chevron-left icon-white"></i> Go back</button>
				</div>
			</div>

			<div class="pagination-centered">
				<p>Don't have an account? <a href="http://admissions.fiu.edu/how/apply.php">Apply to FIU</a></p>
			</div>

		</div>
	</div>